*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
.contenedor{
    width: 100%;
    height: 600px;
    background-color: rgb(196, 225, 190);
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    
}

.caja{

    float: left;
    border: 2px solid black;
    width: calc((100% / 6) - 4px);
    height: 100px;
    margin: 2px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(48, 209, 155);
    padding: 30px;
}
.contenedor .caja:hover{
    background-color: rgb(231, 139, 89);
    color: white;
    transition-duration: 1s;
    
}
