*{background-color: antiquewhite;}
l.acorh,
ul.acorh * {
margin: 0;
padding: 0;
border: 0;
}
ul.acorh {
margin: 10px auto;
padding: 0;
list-style: none;
width: 100%;
font-size: 18px;
}
ul.acorh li {
list-style: none;
}
ul.acorh li a {
display: block;
padding: 10px 10px 10px 20px;
background: rgb(210, 116, 116);
color: #eee;
border-bottom: 1px solid rgb(255, 255, 255);
border-top: 1px solid #666;
text-decoration: none;
box-sizing: border-box;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: .3s all ease-in;
}
ul.acorh li li a {
padding: 10px 10px 10px 40px;
background: rgb(72, 203, 196);
color: rgb(255, 255, 255);
font-size: 16px;
border: 0;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
}
ul.acorc li li:last-child a {
border-bottom: 0;
}
ul.acorh li:target ul {
max-height: 300px;
transition: .3s all ease-in;
}
ul.acorh li a:target {
background: rgb(255, 255, 255);
color: #fff;
}