.head{
    background-color: rgb(218, 150, 218);
}
div{
    border: 3px solid black;
}
#r1col3{
    background-color: rgb(151, 225, 181);
}
#r1col1{
    background-color: lightskyblue;
}
#r3col2{
    background-color: rgb(124, 197, 128);
}
#r1col2{
    background-color: rgb(98, 167, 178);
}
#r3col3{
    background-color: rgb(190, 136, 204);
}